* {
    font-family: Solway;
}

section {
    text-align: center;
}

li {
    list-style: none;
    padding: 1em;
    display: inline-block;
    margin: 0 1em;
    border: thin solid cornflowerblue;
    border-radius: 5px;
    cursor: pointer;
}

li a {
    text-decoration: none;
    color: cornflowerblue;
}

li:hover {
    background-color: cornflowerblue;
    color: white;
}

li:hover a {
    color: white;
}