<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Solway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>AngularJS Tutorials</title>
</head>

<!-- ng-app registers the application with the given name. -->
<body ng-app="ngRepeatApp">
    <main>
        <!-- ng-controller registers the controller that is going to "govern" the section -->
        <section ng-controller="repeatController">
            <h1>Angular JS Common Directives</h1>
            <p>click on an directive to know more!</p>
            <ul>
                <!-- ng-repeat is used to repeat an element over an array defined on the $scope (i.e model) -->
                <li ng-repeat="directive in directives">
                    <!-- the {{ }} brackets are called interpolation expressions or binding expressions -->
                    <!-- they are used to bind or display data to attributes or as text -->
                    <a href="{{directive.link}}">{{ directive.name }}</a>
                </li>
            </ul>
        </section>
    </main>

    <!-- attaching our angular code at the end of the body -->
    <script src="./ngrepeat.js"></script>
    <script src="./controllers/repeat-controller.js"></script>
</body>

</html>